#background-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

.brokenheart {
    width: 400px;
    height: 400px;
}

.heart {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}